@{
    ViewData["Title"] = "Home Page";
}


<img src="~/img/Doctorbanner.png" style="width: 100%;" alt="">
<br>
<br>
<div class="text-center">
    <h4 class="display-8" style="color:darkturquoise">The highest standard of health care</h4>
    <p></p>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
